<ion-view view-title="Inserir">


  <ion-content class="padding">

      <div class="list formulario">
          <label class="item item-input item-floating-label">
              <span class="input-label">Titulo</span>
              <input type="text" id="titulo" placeholder="Titulo">
          </label>
          <label class="item item-input">
              <textarea id="descricao" rows="10" placeholder="Comments"></textarea>
          </label>
          <button ng-click="salvar()" class="button button-block button-positive">
              Salvar
          </button>
      </div>

  </ion-content>
</ion-view>
